.gameBoard {
	background-color: yellow;
	width: 500px;
	height: 426px;
	margin: auto;
	position: relative;
}

.hole{
    background-color: white;
    height: 40px;
    width: 0px;
    display: inline-block;
    position: relative;
    color: white;
    padding: 26px;
    margin: 9px;
    border-radius: 20px;
    cursor:pointer;
    
}

.player1 {
	background-color: red;
}

.player2{
	background-color: black;
}

.startGame{
	text-align: center;
}

.information h3{
	margin-top:0px;
}

.headline{
	background-color: yellow;
}