<div class="container">

  <div class = "row">
    <div class="col-sm-12 text-center headline">
      <h1> Hello world lets play sone connect4! </h1>
    </div>
  </div>

  <div class = "row">
    <div class="col-sm-12 text-center information">
      <h3> To begin simply choose one of the gamerooms, type in a nickname and click submit.</h3>
    </div>
  </div>

  <form ng-submit="submitForm()">
    <div class="form-group">
      <label>Select a gameroom:</label>
      <select class="form-control" ng-model="form.room">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
    </div>

    <div class="form-group">
      <label for="usr">Enter a nickname:</label>
      <input type="text" class="form-control" placeholder="Sam, Dubin, Alex etc." ng-model="form.nickname">
    </div>

    <div class="row text-center">
      <button type="button" class="btn btn-success">
      Submit
      </button>
    </div>

  </form>

</div>
































