<div class="container">

  <div class = "row">
    <div class="col-sm-12 text-center headline">
      <h1> Hello world lets play some connect4! </h1>
    </div>
  </div>

  <div class = "row">
    <div class="col-sm-12 text-center information">
      <h3> To begin simply enter in each players name and click submit!</h3>
    </div>
  </div>

  <form ng-submit="submitForm()">
    <div class="form-group">
      <label for="usr">Enter a nickname for Player 1:</label>
      <input type="text" class="form-control" placeholder="Sam, Dubin, Alex etc." ng-model="players[0]">
      <label for="usr">Enter a nickname for Player 2:</label>
      <input type="text" class="form-control" placeholder="Sam, Dubin, Alex etc." ng-model="players[1]">
    </div>
    <div class="row text-center">
      <!-- <a href='/#/game'> -->
        <button type="submit" class="btn btn-success">
          Submit
        </button>
    <!--   </a> -->
    </div>
  </form>

</div>
































